h1, h2, h3, h4, p, li, a, ul {
    padding: 0;
    margin: 0;
}

header {
    background: url(../img/1.jpg) no-repeat center top / cover;
    height: 100vh;
}

h1 {
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    padding: 570px 0 0 25px;
    text-shadow: 2px 2px 14px #000;
}

p {
    font-family: 'Raleway';
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    padding-left: 45px;
    text-shadow: 2px 2px 7px #000;
}

a {
    font-family: 'Raleway';
    font-size: 17px;
    color: #fff;
    font-weight: 300;  
}

ul {
    float: right;
    margin-right: 45px;
    margin-top: 10px;
}

li {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}